.company{
    background: #252b42;
    padding: 80px 0 80px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.company-contact{
    background: #16697a;
    border-radius: 5px;
    padding: 15px;
    padding-top: 1px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__input{
        width: calc(450px - 117px);
        height: 58px;
        border: 1px solid #e5e5e5;
        background: #f9f9f9;
        font-size: 15px;
        padding: 5px;
        outline: none;
        border-radius: 5px;
    }
    &__btn{
        width: 117px;
        height: 58px;
        margin-left: -4px;
        border: 1px solid #e5e5e5;
        background: #ffa62b;
        color: white;
        font-size: 15px;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.input{
    display: flex;
    align-items: center;
}