.header{
    width: 100%;
    position: absolute;
    // top: 0;
    // left: 0;
    z-index: 2;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    &__item{
        margin-right: 15px;
        &:last-of-type{
            margin-right: 0;
        }
    }
    &__navbar{
        display: flex;
    }
    &__logo{
        width: 100px;
        height: 45px;
    }
    &__link{
        transition: 0.2s;
        &:hover{
            color:#ffa62b;
            transition: 0.2s;
        }
    }
}

